.loginBody {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 8%;
  flex-direction: column;
  gap: 50;
}

.profilContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
